div(id="wrapper")
	div(id="content")
		div(class="header")
			table(width="100%", border-spacing="0px", border-width="1")
				tr
					td(valign="center", width="200px")
						div(style="padding-right:0px;")
							img(src="http://www.tooctac.com/p/619168")
					td(width="280px")
						div
							input(id="mysearch2", type="search", placeholder="search blogs", class="inputboxclass")
					td
						div(class="rightalignblock")
							div(class="boldwhite", id="titletext")
					td(width="140px")
						div(class="rightalignblock", style="max-width:120px;")
							span(class="menubaricon", id="commenticon")
								img(src="http://www.tooctac.com/p/b91280", class="iconsmall")
							span(class="menubaricon")
								img(src="http://www.tooctac.com/p/58b4a0", class="iconsmall")
							span(class="menubaricon")
								img(src="http://www.tooctac.com/p/63a3a5", class="iconsmall")
					td
						div(class="rightalignblock")
							span(id="propic")
							span(id="profilehome", class="boldwhite")
							span(id="profilehomearrow", class="menulink", onclick="showhomemenu()")
							a(href="#", class="blogbutton", onclick="loginFb()", id="altlogin") Log in via Facebook
					

							

		div(id="main", style="margin: 0;")
			table(width="100%", valign="top", border-spacing="0px")
				tr
					td(width="480px", valign="top")
						div(class="content-column")
							div(id="writeroot")
							div(class="content-segment")
								div(id="result")


						
					td(width="288px", valign="top")

							
					td(width="256px", valign="top")
						div
							div(id="fb-root")
							
