body
  margin: 0px
  font: 11px "Tahoma", Helvetica, Arial, sans-serif
  background-color: #fff

#wrapper 
   margin: 0 auto
   width: 1024px

#content 
    width: 100%
    margin: 0 auto
    

.header
	background-color: #444
	height: 30px
	text-align: left
	padding: 4px 2px 4px 2px
	margin: 0 auto

.boldwhite
	color: #FFF
	font-weight: bold
	padding: 4px

.rightalignblock
	text-align: right

.blogbutton 
	-moz-box-shadow: 0px 1px 22px 0px #ffffff
	-webkit-box-shadow: 0px 1px 22px 0px #ffffff
	box-shadow: 0px 1px 22px 0px #ffffff
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #dbdbdb) )
	background:-moz-linear-gradient( center top, #ffffff 5%, #dbdbdb 100% )
	background-color:#ffffff
	-moz-border-radius:8px
	-webkit-border-radius:8px
	border-radius:8px
	border:1px solid #696969
	display:inline-block
	color:#2e2e2e
	font-family:Arial
	font-size:11px
	font-weight:bold
	padding:3px 14px
	text-decoration:none
	text-shadow:1px 1px 16px #ffffff
	cursor: pointer

.blogbutton:hover 
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dbdbdb), color-stop(1, #ffffff) )
	background:-moz-linear-gradient( center top, #dbdbdb 5%, #ffffff 100% )
	background-color:#dbdbdb

.blogbutton:active 
	position:relative
	top:1px

.inputboxclass
	font-family:Tahoma
	font-size: 11px
	min-height:24px
	min-width: 260px
	border: solid 1px #AAAAAA
	border-radius: 6px

.contentpanel
	background-color:#ffffff
	border: #444444
	min-height: 200px
	-moz-box-shadow: 0px 1px 5px 0px #666666
	-webkit-box-shadow: 0px 1px 5px 0px #666666
	box-shadow: 0px 1px 5px 0px #666666
	-moz-border-radius:2px
	-webkit-border-radius:2px
	margin-bottom: 10px;
	margin-right: 20px;

.smallimg
	width: 24px
	height: 24px
	vertical-align:middle

.smallimgb
	width: 24px
	height: 24px
	border: solid 1px #CCC
	margin: 1px 1px 1px 1px
	padding: 1px 1px 1px 1px

.content-column
	border-right: solid 2px #CCC
	max-width: 480px

.content-segment
	border-bottom: solid 1px #E0E0E0
	padding: 4px 4px 0px 4px

.link-text
	padding: 2px 4px 0px 2px
	border-bottom: dotted 1px #888
	color: #444
	cursor: pointer
	font-weight: bold

.hover-text
	margin: 0px 10px 0px 4px
	padding: 2px 4px 2px 4px
	color: #444
	cursor: pointer
	font-weight: bold
	border-radius: 4px

.hover-text:hover
	color: #fff
	background-color: #AAA

.hover-text-sel
	margin: 0px 10px 0px 4px
	padding: 2px 4px 2px 4px
	color: #fff
	background-color: #888
	cursor: pointer
	font-weight: bold
	border-radius: 4px

.menulink
	color: #FFF
	font-weight: bold
	cursor: pointer
	padding: 10px 4px 10px 4px

.menulink:hover
	color: #888
	background-color: #CCC

.menulink-sel
	color: #888
	background-color: #fff
	font-weight: bold
	cursor: pointer
	padding: 12px 4px 12px 4px

.dropdownmenu
	position: absolute
	z-index:5000
	background-color: #fff 
	min-width: 200px 
	border-bottom: solid 1px #444
	border-left: solid 1px #444
	border-right: solid 1px #444

.menuitem
	padding: 4px 10px 4px 20px
	cursor: pointer

.menuitem:hover	
	background-color: #666
	color: #fff

.iconsmall
	max-height: 16px
	max-width: 16px

.menubaricon
	padding: 16px 2px 4px 2px
	cursor: pointer

.menubaricon:hover
	background-color: #888

.menu-bubble
	background-color: #d44
	font-size:80%
	color:#fff
	padding: 1px 4px 1px 4px
	border: solid 1px #822
	border-radius: 8px
	margin-left: -5px

.posttitle
	font-size: 16px
	font-weight: bold
	padding: 8px 0px 0px 2px
	color: #222

.postsummary
	font-size: 14px
	font-weight: normal
	padding: 0px 0px 4px 0px
	color: #444

.postauthor
	font-size: 12px
	color: #222

.posttime
	font-size: 12px
	color: #CCC
	font-style: italic

.detailslink
	font-size: 10px
	color: #88E
	border-bottom: dotted 1px #66C
	cursor: pointer
	font-weight: bold

.bloglink	
	font-size: 12px
	color: #CCC

.postfooter
	background-color: #F0F0F0
	padding: 2px 2px 10px 2px

.postfooter-span
	padding: 0px 4px 0px 4px
	cursor: pointer

.postfooter-counter
	padding: 0px 2px 2px 4px
	font-style: bold






